<!DOCTYPE html>
<html ng-app="wheresJohnny">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Latest compiled and minified Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" crossorigin="anonymous">
  <!-- ngTable css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.css" media="screen" title="no title" charset="utf-8">
   <link rel = "stylesheet" href="/stylesheets/style.css" >
  <base href="/" />
</head>
<body>
  <div ng-include="'/partials/partial-navbar.html'"></div>
  <header class="intro" page-top>
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>where is Johnny</h1>
            <p class="intro-text">Use the "Bathroom Now" and find the closest bathrooms to your current location.</br>
            Use the "I can hold it til later" button to enter a specific address.</p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-inline">
                  <a hfref="#resultsRow" class="waves-effect waves-light btn" id="showResults">Bathroom Now!</a>
                  <a class="waves-effect waves-light btn" id="showResults">I can hold it til later</a>
                  <div class="form-group">
                    <input type="text" class="form-control" id="userAddress" placeholder="Enter Address"/>
                  </div>
                </div>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>
        </div>
      </div>
    </div>
  </header>

<div ng-app="myApp" ng-controller="locationController as vm">
  <ng-map center='current-position'
    geo-fallback-center="[40.74, -74.18]"
    geo-callback="vm.callbackFunc('you')"
    >

  </ng-map>



<div ui-view></div>





<!-- jQuery cdn -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<!-- angular cdn -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js'> </script>
<!-- ui router cdn -->
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<!-- ng table cdn -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.js"> </script>
<!-- materialize js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" crossorigin="anonymous"></script>
<!-- main app for angular configuration -->
<script type='text/javascript' src='/javascripts/app.js'> </script>
<!-- controller for location partial -->
<script type='text/javascript' src='/javascripts/controllers/locationController.js'> </script>
<!-- user test controller remove this after you make sure the mvc routing works  -->
<script type='text/javascript' src='/javascripts/controllers/userTestController.js'> </script>
<!-- async cdn -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.js'> </script>
<!-- angular google maps -->
<script type='text/javascript' src='/javascripts/ngmap/build/scripts/ng-map.js'> </script>
<!-- google maps API -->
<script src="http://maps.googleapis.com/maps/api/js"></script>

</body>
</html>